{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block main %}


 <h2>Page profil</h2>
 <div class="text-center">
 {% if profil is empty %}
    <a href="{{path('app_profil_new')}}" class="btn btn-primary">Créer votre profil</a>
 {% else %}
    <a href="{{path('app_profil_edit', {'id': profil[0].id})}}" class="btn btn-primary">Modifier votre profil</a>
 </div>
<div class="">
    
 
    {# {{dump(app.user.firstName)}}  #}
    {# Pour m'afficher le nom d'utilisateur #}
 <table class="table mt-5">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>firstName</th>
                <th>lastName</th>
                <th>email</th>
                <th>Picture</th>
                <th>Description</th>
                <th>DateBirth</th>
                <th>CreatedAt</th>
                <th>Updatedat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>

        
                {# <tr>
                    <td colspan="7" class="text-center"><a href=" " class="alert alert-warning  ">Alimenter  votre profil</a></td>
                </tr> #}

 

             
                <tr>
                {{ dump (profil)}}

                    <td>{{app.user.firstName}}</td>
                    <td>{{app.user.lastName}}</td>
                    <td>{{app.user.email}}</td>
                   
                   {% for data in profil %}
                   
                   
                    <td><img src="{{asset('images/' ~ data.picture)}}" alt="image profil" class="img-fluid"></td>
                    <td>{{data.description}}</td>
                    <td>{{data.dateBirth|date('d-m-Y')}}</td>
                    {# <td>{{}}</td>
                    <td>{{}}</td> #}
                    <td>
                        <a href="" class="btn btn-warning">modifier</a>
                    </td>
                    {% endfor %}
                </tr>
        </tbody>
    </table>
     {% endif %}
</div>
{% endblock %}
