{% extends 'base.html.twig' %}

{% block title %}Profil index{% endblock %}

{% block main %}
    <h1>Profil index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Picture</th>
                <th>Description</th>
                <th>DateBirth</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for profil in profils %}
            <tr>
                <td>{{ profil.id }}</td>
                <td>{{ profil.picture }}</td>
                <td>{{ profil.description }}</td>
                <td>{{ profil.dateBirth ? profil.dateBirth|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ profil.createdAt ? profil.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ profil.updatedAt ? profil.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_profil_show', {'id': profil.id}) }} class="btn btn-info" ">show</a>
                    <a href="{{ path('app_profil_edit', {'id': profil.id}) }} class="btn btn-info" ">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_profil_new') }}">Create new</a>
{% endblock %}
